>Todo los modificaciones se realizaron con codigo

##Jesus-Araujo 2022-1894

In [ ]:
#Importa la libreria que voy a utuilizar
import pandas as pd

In [ ]:
#Aqui convertir el archivo en un DF para poner analizarlo
#ademas escojo un formado de texto didefente el utf-8 cambiaba alguans letras
#Ademas espefificao que el encabesado esta en la fila 4

df = pd.read_csv("Ventas_Pedidos.csv", delimiter=",", encoding="latin1", header=4)

In [ ]:
#impromo los datos, mostrandome
print(df.head(-220))

                          Unnamed: 0 Unnamed: 1              Unnamed: 2  \
0      Número de Pedido - Tip Compra        SKU  Categoría de Descuento
1                                NaN        NaN                     NaN
2                                NaN        NaN                     NaN
3                                NaN        NaN                     NaN
4                                NaN        NaN                     NaN
...                              ...        ...                     ...
24713                 98069578Normal      L05-4                     Non
24714                 98069570Normal      C13-6                     Non
24715                 98069565Normal     CB01-6                     Non
24716                 98069566Normal     CB01-7                     Non
24717             98069569Devolución     CB01-4                     Non

               Unnamed: 3 Unnamed: 4          Unnamed: 5      Unnamed: 6  \
0                Ingresos   Unidades  Costo del Producto  Costo de Envio
1                     NaN        NaN                 NaN             NaN
2                     NaN        NaN                 NaN             NaN
3                     NaN        NaN                 NaN             NaN
4                     NaN        NaN                 NaN             NaN
...                   ...        ...                 ...             ...
24713  121.64999999999999          3                5.55            4.55
24714                80.9          2                6.88            6.88
24715  222.02999999999997          1                7.61            3.61
24716  222.02999999999997          1                9.68            5.68
24717  666.08999999999992          3                   8               5

          Unnamed: 7      Unnamed: 8        Unnamed: 9 Unnamed: 10  \
0      Costo Empaque  Fecha de Envio  Fecha de Llegada        País
1                NaN             NaN               NaN         NaN
2                NaN             NaN               NaN         NaN
3                NaN             NaN               NaN         NaN
4                NaN             NaN               NaN         NaN
...              ...             ...               ...         ...
24713              1           42323             42334   VENezuela
24714              3           42324             43099     ECUador
24715              2           42324             42344     URUguay
24716              1           42324             42342      BRAsil
24717              3           42324             42996      BRAsil

      Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14
0          Ciudad  Codigo País         NaN         NaN
1             NaN          NaN         NaN         NaN
2             NaN          NaN         NaN         NaN
3             NaN          NaN         NaN         NaN
4             NaN          NaN         NaN         NaN
...           ...          ...         ...         ...
24713     Caracas           VE         NaN         NaN
24714       Quito           EC         NaN         NaN
24715  Montevideo           UR         NaN         NaN
24716         Rio           BR         NaN         NaN
24717         Rio           BR         NaN         NaN

[24718 rows x 15 columns]

In [ ]:
# Calcular la cantidad de valores nulos por columna

print(df.isnull().sum())

0
Número de Pedido - Tip Compra    31
SKU                              37
Categoría de Descuento           41
Ingresos                         39
Unidades                         41
Costo del Producto               41
Costo de Envio                   41
Costo Empaque                    41
Fecha de Envio                   41
Fecha de Llegada                 41
País                             41
Ciudad                           41
Codigo País                      41
dtype: int64

In [ ]:
#Imprime la cantida de regristro que hay
print(df.shape)

(24937, 13)

In [ ]:
print(df.notnull().sum())

0
Número de Pedido - Tip Compra    24906
SKU                              24900
Categoría de Descuento           24896
Ingresos                         24898
Unidades                         24896
Costo del Producto               24896
Costo de Envio                   24896
Costo Empaque                    24896
Fecha de Envio                   24896
Fecha de Llegada                 24896
País                             24896
Ciudad                           24896
Codigo País                      24896
dtype: int64

In [ ]:
# Tomar la primera fila de datos como nombres de columna y reemplazar los nombres de columna existentes
df.columns = df.iloc[0]

# Eliminar la primera fila, que ahora es el antiguo encabezado
df = df[1:]

# El DataFrame ahora tiene la primera fila como nombres de columna
print(df)

0     Número de Pedido - Tip Compra     SKU Categoría de Descuento Ingresos  \
1                               NaN     NaN                    NaN      NaN
2                               NaN     NaN                    NaN      NaN
3                               NaN     NaN                    NaN      NaN
4                               NaN     NaN                    NaN      NaN
5                               NaN     NaN                    NaN      NaN
...                             ...     ...                    ...      ...
24933                           NaN     NaN                    NaN      NaN
24934                         Enero    Mayo                    NaN      NaN
24935                       Febrero   Junio                    NaN      NaN
24936                         Marzo   Julio                    NaN      NaN
24937                         Abril  Agosto                    NaN      NaN

0     Unidades Costo del Producto Costo de Envio Costo Empaque Fecha de Envio  \
1          NaN                NaN            NaN           NaN            NaN
2          NaN                NaN            NaN           NaN            NaN
3          NaN                NaN            NaN           NaN            NaN
4          NaN                NaN            NaN           NaN            NaN
5          NaN                NaN            NaN           NaN            NaN
...        ...                ...            ...           ...            ...
24933      NaN                NaN            NaN           NaN            NaN
24934      NaN                NaN            NaN           NaN            NaN
24935      NaN                NaN            NaN           NaN            NaN
24936      NaN                NaN            NaN           NaN            NaN
24937      NaN                NaN            NaN           NaN            NaN

0     Fecha de Llegada País Ciudad Codigo País
1                  NaN  NaN    NaN         NaN
2                  NaN  NaN    NaN         NaN
3                  NaN  NaN    NaN         NaN
4                  NaN  NaN    NaN         NaN
5                  NaN  NaN    NaN         NaN
...                ...  ...    ...         ...
24933              NaN  NaN    NaN         NaN
24934              NaN  NaN    NaN         NaN
24935              NaN  NaN    NaN         NaN
24936              NaN  NaN    NaN         NaN
24937              NaN  NaN    NaN         NaN

[24937 rows x 13 columns]

In [ ]:
#Borro los datos bulos pero con un df diferentes para ver los cambio antes df_actualizado
df_actualizado = df.dropna(axis=1)

In [ ]:
# Eliminar las dos últimas columnas que era dasto nulos
df = df.iloc[:, :-2]

In [ ]:
#Con este codigo berifica las cantidad de datos nulos que hay
print(df.isnull().sum())

0
Número de Pedido - Tip Compra    31
SKU                              37
Categoría de Descuento           41
Ingresos                         39
Unidades                         41
Costo del Producto               41
Costo de Envio                   41
Costo Empaque                    41
Fecha de Envio                   41
Fecha de Llegada                 41
País                             41
Ciudad                           41
Codigo País                      41
dtype: int64

In [ ]:
#Aqui se eliminar todos los final nulas
df_sin_nulos = df.dropna()

In [ ]:
#En esta parate eliminos las filas que contega la parabra #DIV/0!
df = df[~df.eq('#DIV/0!').any(axis=1)]

In [ ]:
df = df[~df.eq('xxxx').any(axis=1)]

In [ ]:
df = df[~df.eq('****').any(axis=1)]

In [ ]:
print(df_sin_nulos)

0     Número de Pedido - Tip Compra     SKU Categoría de Descuento  \
22                   98094261Normal  CC01-2                    Non
23                   98094260Normal   L01-5                    Non
24                   98094258Normal  CB01-2                    Non
25               98094259Devolución  CB01-2                    Non
26                   98094257Normal  CC02-1                    Non
...                             ...     ...                    ...
24909                98069375Normal  CC01-3                    Non
24910                98069373Normal   L02-6           Cyber Monday
24911                98069378Normal   L02-7                    Non
24912            98069377Devolución   L07-2                    Non
24913                98069372Normal  CC01-3                    Non

0                Ingresos Unidades Costo del Producto Costo de Envio  \
22                 105.06        2               8.55           4.55
23                   61.5        2               8.25           3.25
24     222.02999999999997        1               7.99           4.99
25     666.08999999999992        3               5.61           5.61
26                  80.16        3               9.99           3.99
...                   ...      ...                ...            ...
24909              105.06        2                  6              5
24910  96.480000000000018        3               8.55           3.55
24911  120.60000000000001        3               8.55           5.55
24912               37.89        1                5.2            3.2
24913              105.06        2                  8              6

0     Costo Empaque Fecha de Envio Fecha de Llegada      País        Ciudad  \
22                2          36509            36529  PARaguay      Asunción
23                2          36510            36529      PERú          Lima
24                3          36511            36528  PARaguay      Asunción
25                2          36511            36529  PARaguay      Asunción
26                3          36512            36528   URUguay    Montevideo
...             ...            ...              ...       ...           ...
24909             1          42354            42373  PARaguay      Asunción
24910             1          42354            42373   ECUador         Quito
24911             2          42354            43004   URUguay    Montevideo
24912             3          42354            42364    BRAsil           Rio
24913             1          42355            43003     CHIle  Viña del Mar

0     Codigo País
22             PA
23             PE
24             PA
25             PA
26             UR
...           ...
24909          PA
24910          EC
24911          UR
24912          BR
24913          CH

[24890 rows x 13 columns]

In [ ]:

df_sin_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24895 entries, 15 to 24915
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Número de Pedido - Tip Compra  24895 non-null  object
 1   SKU                            24895 non-null  object
 2   Categoría de Descuento         24895 non-null  object
 3   Ingresos                       24895 non-null  object
 4   Unidades                       24895 non-null  object
 5   Costo del Producto             24895 non-null  object
 6   Costo de Envio                 24895 non-null  object
 7   Costo Empaque                  24895 non-null  object
 8   Fecha de Envio                 24895 non-null  object
 9   Fecha de Llegada               24895 non-null  object
 10  País                           24895 non-null  object
 11  Ciudad                         24895 non-null  object
 12  Codigo País                    24895 non-null  object
dtypes: object(13)
memory usage: 2.7+ MB

In [ ]:
#Este codigo es para verificar que  no hay nulos
print(df_sin_nulos.isnull().sum())

0
Número de Pedido - Tip Compra    0
SKU                              0
Categoría de Descuento           0
Ingresos                         0
Unidades                         0
Costo del Producto               0
Costo de Envio                   0
Costo Empaque                    0
Fecha de Envio                   0
Fecha de Llegada                 0
País                             0
Ciudad                           0
Codigo País                      0
dtype: int64

In [ ]:
df =df_sin_nulos

In [ ]:
# imprimo df para ver que los datos esta correstos
print(df)

0     Número de Pedido - Tip Compra     SKU Categoría de Descuento  \
22                   98094261Normal  CC01-2                    Non
23                   98094260Normal   L01-5                    Non
24                   98094258Normal  CB01-2                    Non
25               98094259Devolución  CB01-2                    Non
26                   98094257Normal  CC02-1                    Non
...                             ...     ...                    ...
24909                98069375Normal  CC01-3                    Non
24910                98069373Normal   L02-6           Cyber Monday
24911                98069378Normal   L02-7                    Non
24912            98069377Devolución   L07-2                    Non
24913                98069372Normal  CC01-3                    Non

0                Ingresos Unidades Costo del Producto Costo de Envio  \
22                 105.06        2               8.55           4.55
23                   61.5        2               8.25           3.25
24     222.02999999999997        1               7.99           4.99
25     666.08999999999992        3               5.61           5.61
26                  80.16        3               9.99           3.99
...                   ...      ...                ...            ...
24909              105.06        2                  6              5
24910  96.480000000000018        3               8.55           3.55
24911  120.60000000000001        3               8.55           5.55
24912               37.89        1                5.2            3.2
24913              105.06        2                  8              6

0     Costo Empaque Fecha de Envio Fecha de Llegada      País        Ciudad  \
22                2          36509            36529  PARaguay      Asunción
23                2          36510            36529      PERú          Lima
24                3          36511            36528  PARaguay      Asunción
25                2          36511            36529  PARaguay      Asunción
26                3          36512            36528   URUguay    Montevideo
...             ...            ...              ...       ...           ...
24909             1          42354            42373  PARaguay      Asunción
24910             1          42354            42373   ECUador         Quito
24911             2          42354            43004   URUguay    Montevideo
24912             3          42354            42364    BRAsil           Rio
24913             1          42355            43003     CHIle  Viña del Mar

0     Codigo País
22             PA
23             PE
24             PA
25             PA
26             UR
...           ...
24909          PA
24910          EC
24911          UR
24912          BR
24913          CH

[24890 rows x 13 columns]

In [ ]:
df.describe()

,Número de Pedido - Tip Compra,SKU,Categoría de Descuento,Ingresos,Unidades,Costo del Producto,Costo de Envio,Costo Empaque,Fecha de Envio,Fecha de Llegada,País,Ciudad,Codigo País
count,24890,24890,24890,24890,24890,24890,24890,24890,24890,24890,24890,24890,24890
unique,24890,147,5,314,3,116,93,3,5763,6609,9,9,9
top,98094261Normal,CB01-1,Non,222.02999999999997,1,9,3,3,42251,40754,ARGentina,Rosario,AR
freq,1,716,13347,862,8488,537,643,8331,13,13,2848,2848,2848

In [ ]:
#Este codigo es para poder descargar el archivo en csv, escogi 'latin1' por que utf-8 me cambiana el formato de la palabras
df.to_csv('Ventasdepedidoslisto.csv', index=False, encoding='latin1')